<div class="row margin-R-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dashboard-header padding-R-0">
    <div class="row margin-R-0">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
      <div class="fix-side-bar header-zindex my-4 ">
        <img src="assets/images/login/experizerlogo_white.png" alt="" style="width:200px;height:48px;" class="logo-img image-margin-left" title="">   
    </div>
    </div>
    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
       <div class="text-center  my-4">
       <!-- <form class="form-inline justify-content-center mt-3">
           <input class="form-control form-control  w-50 search-height " type="text" placeholder="Search" aria-label="Search" autocomplete="off"  [(ngModel)]="searchWordInput" name="searchWordInput">
           <i class="fa fa-search ml-3 search-icon" aria-hidden="true" (click)="findWord()"></i>
      </form> -->
      </div>
      </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  padding-R-0">       
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/needhelp">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Getting Started</li>
            </ol>
          </nav>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container mb-5 mt-5">
      <div class="row">
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9  padding-R-0">
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <img src="assets/images/needhelp/getstarted.png" alt="" class="logo-img mr-4 img-width" title=""> 
        </div>
       <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11"> <label class="help-class">Getting Started</label><br>
        <p class="card-text">Articles to get you up and running, quick and easy.</p></div>
      </div>
          <hr>
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">  
                   <div class="card main-card-border">
                <div class="card-body row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5 class="card-title font-weight-bold">Welcome to Experizer</h5>
                   <p class="card-text">We are so glad to have you with us. Your Virtual Reality Experience creation journey is going to be awesome and we look forward towards seeing some brilliant creations. In this guide we will see how you can quickly create a new Experizer Virtual Experience and also see at the integration possibilities.</p>
                 </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <div class="card main-card-border">
                    <div class="card-body row">
                     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <h5 class="card-title font-weight-bold">What is Experizer?</h5>
                       <p class="card-text">Experizer is an online VR Content creation software that requires no programming. You can create immersive VR experiences by customising through a range of VR Experience templates that we have created for you and shall keep innovating more over our forthcoming upgrades. We have kept the idea of a ‘Subject Matter Expert’ customising an Experizer Virtual Experience with just simple drag and drops and content like images, videos, audios or simply text. </p>
                       <p>Experizer is available as a Software-as-a-Service. You don’t require any installation on your machine to Author a Virtual Experience and hence anyone having access to internet can practically experience the power of customising a Virtual Experience. </p>
                     </div>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
               <div class="card main-card-border">
                <div class="card-body row">
                 <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5 class="card-title font-weight-bold">The power of Experizer. </h5>
                   <p class="card-text">Experizer can help you stitch awesome Virtual Experience’s in matter of minutes. Be that a Virtual Tour or a Movie Theater, you can have that up an running in matter of minutes (if you have the content with you) instead of those long months that you spend with your developers. Also we have ensured that the entire process of customisation does not require any programming knowledge. Simply drag and drop, click and customise with your content. There are options to create Assessments that can sync up with your existing learning infrastructure provided they support xAPI standard. The best part is the compatibility. </p>
                   <p>The product output is compatible with almost all popular VR glasses including </p>
                      <ul style="list-style-type:none">
                     <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Google Cardboard</li>
                     <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Google Daydream</li>
                     <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Samsung GearVR</li>
                     <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Oculus Go</li>
                     <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Oculus Rift.</li>
                    </ul> 
                 </div>
                </div>
              </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
           <div class="card main-card-border">
            <div class="card-body row">
             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="card-title font-weight-bold">Who can use Experizer? </h5>
               <p class="card-text">Anyone who wants to leverage on the power of Virtual Reality and wants to create a Virtual Experience can use Experizer. </p>
                  <div class="ul-style ml-5">
                     <span> <i class="fa fa-check icon-check" aria-hidden="true"></i> <span class="font-weight-bold"> 
                        &nbsp; Training and Development professionals</span><span> who wish to create Virtual Reality experiences for teaching and assessing the knowledge of a learner. </span></span>
                        <br><span> <i class="fa fa-check icon-check" aria-hidden="true"></i><span class="font-weight-bold"> 
                        &nbsp;University and Colleges</span> who wish to teach through Immersive learning techniques. </span>
                        <br> <span><i class="fa fa-check icon-check" aria-hidden="true"></i><span class="font-weight-bold"> 
                         &nbsp;Corporates</span> who wish to give a Virtual Tour of their facility to their potential clients or employees or create engagements through the power of Virtual Reality. </span>
                         <br><span><i class="fa fa-check icon-check" aria-hidden="true"></i><span class="font-weight-bold"> 
                         &nbsp;Real Estate Agencies</span> who wish to create a Virtual Tour of their property.</span>
                      </div> 
             </div>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> <div class="card main-card-border">
        <div class="card-body row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h5 class="card-title font-weight-bold">What is the process of creating a Virtual Experience using Experizer? </h5>
           <p class="card-text">The process is as simple as shown in the image below. </p>
           <img src="assets/images/needhelp/Application-flow-diagram_new.jpg" alt="" class=" " title="">  
         </div>
        </div>
      </div>
</div>


          </div> 
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  padding-R-0">
      
      <div class="row mb-3 ">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="card help-ask-card-grey">
                <div class="card-body card-body-class">
                  <h5 class="card-title font-weight-bold">Need Support?</h5>
                  <p class="card-text">Can't find the answer you're looking for? Don't worry we're here to help!</p>
                  <a href="mailto:care@experizer.com"  class="btn contact-button">Contact Support</a>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>