<div class="row margin-R-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dashboard-header padding-R-0">
    <div class="row margin-R-0">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
      <div class="fix-side-bar header-zindex my-4 ">
        <img src="assets/images/login/experizerlogo_white.png" alt="experizerlogo_white TM"  class="logo-img image-margin-left" title="">   
    </div>
    </div>
    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
       <div class="text-center  my-4">
       <!-- <form class="form-inline justify-content-center mt-3">
           <input class="form-control form-control  w-50 search-height " type="text" placeholder="Search" aria-label="Search" autocomplete="off"  [(ngModel)]="searchWordInput" name="searchWordInput">
           <i class="fa fa-search ml-3 search-icon" aria-hidden="true" (click)="findWord()"></i>
      </form> -->
      </div>
      </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  padding-R-0">       
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/needhelp">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Copyright & Legal</li>
            </ol>
          </nav>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container mb-5 mt-5">
      <div class="row">
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9  padding-R-0">
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <img src="assets/images/needhelp/copyrightandlegal.png" alt="" class="logo-img mr-4 img-width" title=""> 
        </div>
       <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11"> <label class="help-class">Copyright & Legal</label><br>
        <p class="card-text">Important information about how we handle our data.</p></div>
      </div>
          <hr>
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a routerLink="/term" class="ref-deco">  
                   <div class="card main-card-border">
                <div class="card-body row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5 class="card-title font-weight-bold">Terms of Service</h5>
                   <p class="card-text">Terms and Conditions for using Experizer Studio. A detail outline of the terms and conditions that you accept while you create an account on Experizer.</p>
                 </div>
                </div>
              </div>
              </a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a routerLink="/privacypolicy" class="ref-deco"> 
                    <div class="card main-card-border">
                    <div class="card-body row">
                     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <h5 class="card-title font-weight-bold">Privacy Policies</h5>
                       <p class="card-text">Privacy Policies of Experizer. A detailed document regarding our privacy and data policies - what data do we keep and what do we do with your data.</p>
                     </div>
                    </div>
                  </div>
                  </a>
            </div>
          </div> 
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  padding-R-0">
      
      <div class="row mb-3 ">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="card help-ask-card-grey">
                <div class="card-body card-body-class">
                  <h5 class="card-title font-weight-bold">Need Support?</h5>
                  <p class="card-text">Can't find the answer you're looking for? Don't worry we're here to help!</p>
                  <a href="mailto:care@experizer.com"  class="btn contact-button">Contact Support</a>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>