<div class="row margin-R-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dashboard-header padding-R-0">
    <div class="row margin-R-0">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
      <div class="fix-side-bar header-zindex my-4 ">
        <img src="assets/images/login/experizerlogo_white.png" alt="" class="logo-img image-margin-left" title="">   
    </div>
    </div>
    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
       <div class="text-center  my-4">
       <!-- <form class="form-inline justify-content-center mt-3">
           <input class="form-control form-control  w-50 search-height " type="text" placeholder="Search" aria-label="Search" autocomplete="off"  [(ngModel)]="searchWordInput" name="searchWordInput">
           <i class="fa fa-search ml-3 search-icon" aria-hidden="true" (click)="findWord()"></i>
      </form> -->
      </div>
      </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  padding-R-0">       
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/needhelp">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Topics</li>
            </ol>
          </nav>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container mb-5 mt-5">
      <div class="row">
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9  padding-R-0">
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <img src="assets/images/needhelp/myaccount.png" alt="" class="logo-img mr-4 img-width" title=""> 
        </div>
       <div  class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11"> <label class="help-class">How to Create an Account?</label><br>
        <p class="card-text">A quick guide to get you started with Experizer. </p></div>
      </div>
          <hr>
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="createDiv">  
                   <div class="card main-card-border">
                <div class="card-body row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5 class="card-title font-weight-bold"> Create an Account</h5>
                   <p class="card-text">Creating an account on Experizer is simple and fast. You can use your Facebook account, Google account or simply your email address to sign up with Experizer. Follow these simple steps to go forward with creating your Experizer account.</p>
                   <ul style="list-style-type:none">
                    <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Step 1:
                      <ul style="list-style-type:none">
                        <li><i class="fa fa-cog icon-check-inner" aria-hidden="true"></i> Goto https://alpha-dev.experizer.com/ </li>
                      </ul>
                    </li>
                    <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Step 2:
                      <ul style="list-style-type:none">
                        <li><i class="fa fa-cog icon-check-inner" aria-hidden="true"></i> You can simply fill up the form, hit the submit button and then verify yourself by checking the link in your email. </li>
                        <li>OR</li>
                        <li><i class="fa fa-cog icon-check-inner" aria-hidden="true"></i> If you want to avoid filling up the form simply hit the Facebook or Google button to sign-up and hit the Allow button. Don’t worry we just get your authentication status and your Name along with the email address. This step does not require authentication.</li>
                      </ul>
                    </li>
                    </ul> 
                 </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="VrExp">
              <div class="card main-card-border">
               <div class="card-body row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                 <h5 class="card-title font-weight-bold">Creating a Virtual Reality Experience</h5>
                  <p class="card-text">Hit the “Create Experience” button to open up the panel through which you can choose an Experience for customisation. Choose one of the templates from that panel and enter the details as requested by the Popup. Remember, you cannot change an Experience name once you set it. Once you give your Experience a new name, the Authoring page will open up. Through this authoring page, you can choose a parameter to customise from the Left Drawer and the changes would be immediately visible. You can preview the Experience by litton the “Preview” button. Once you are done with your changes, you can choose to publish your Experience. To know more about Publishing your new experience see below. </p>
                    
                </div>
               </div>
             </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="AssignRoom"> 
              <div class="card main-card-border">
                    <div class="card-body row">
                     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <h5 class="card-title font-weight-bold">Assigning a room to a Published Experience</h5>
                       <p class="card-text">You need a room so that your Published Experience can be accessible to the general public or your designated patrons. To see how you can assign Patrons to your Experience, click on this link. You can directly share the room through the “Add Room” icon from the “Actions” section of your Published Experience. You can either select an existing room or create a new one depending on your choice. </p>
                       </div>
                    </div>
                  </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="NewRoomDIv">
               <div class="card main-card-border">
                <div class="card-body row">
                 <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5 class="card-title font-weight-bold">Creating a new Room.</h5>
                   <p class="card-text">You can create a new room by clicking the “Add New Room” button on the the Rooms tab. While creating a new room, give it a meaningful name, set the number of views limit that you want to restrict it to and choose from the following options for Room access.  </p>
                   <p>The product output is compatible with almost all popular VR glasses including </p>
                   <div class="ul-style ml-5">
                    <span> <i class="fa fa-check icon-check" aria-hidden="true"></i> <span class="font-weight-bold"> 
                       &nbsp;  Keep room open forever</span><span> will keep the room open without any period restrictions or until you manually deactivate the room. </span></span>
                       <br><span><i class="fa fa-check icon-check" aria-hidden="true"></i><span class="font-weight-bold"> 
                       &nbsp;Keep room open for a specific period</span> will keep room open for the date period when you choose the room to be open or until you manually deactivate the room. </span>
                       <br><span> By selecting the “Is Public” room your room will be accessible to the general public without any authentication. You can also select the Track using Experience API option. To know more about this option. </span>
                </div>
                 </div>
                </div>
              </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="TrackXapi">
           <div class="card main-card-border">
            <div class="card-body row">
             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <h5 class="card-title font-weight-bold">Tracking using Experience API </h5>
               <p class="card-text">You can always track your Patron’s activity through the inbuilt reports however you can also integrate the experience output with your xAPI compliant LRS(Learning Record Stores). If you have an existing LRS, just create a new profile by selecting the ‘Track using Experience API(xAPI)’ option and choosing “Create a New xAPI Profile” option. Once you choose that, give the profile a name, and submit the information your LRS has provided you. In case if you face problem with this, do write to us at <a href="mailto:care@experizer.com">care@experizer.com</a> so that we can assist you with your activity. </p>
                 
             </div>
            </div>
          </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="shareWork"> 
      <div class="card main-card-border">
        <div class="card-body row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h5 class="card-title font-weight-bold">How can I share my work?  </h5>
           <p class="card-text">To share your work you need to Publish your Virtual Reality Experience and assign a room to it. Once you assign a room you have multiple ways through which you can share your Virtual Experience. Hit the “Share” button from the Action column of your Room to see the detailed instructions for sharing your room. The options go as follows.  </p>
           <div class="ul-style ml-5">
            <span> <i class="fa fa-check icon-check" aria-hidden="true"></i> <span class="font-weight-bold"> 
               &nbsp; Direct URL</span><span> can be accessed directly from any Mobile or Desktop through Modern browsers. </span></span>
               <br><span><i class="fa fa-check icon-check" aria-hidden="true"></i><span class="font-weight-bold"> 
               &nbsp; Iframe Tag </span>can be embedded in your existing page. Just ensure that your page and server support iFrame and then copy & paste the tag directly into your HTML page. </span>
               <br><span><i class="fa fa-check icon-check" aria-hidden="true"></i><span class="font-weight-bold"> 
                &nbsp; Experience ID </span>can be used through the Experizer Viewer Mobile App installed on iPhone’s and Android phones. </span>
                <br><span><i class="fa fa-check icon-check" aria-hidden="true"></i><span class="font-weight-bold"> 
                  &nbsp; QR Code </span>can be scanned using any QR Code scanner to grab the URL to your Experience. </span>
        </div>
         </div>
        </div>
      </div>
</div>



          </div> 
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  padding-R-0">
      
      <div class="row mb-3 ">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="card help-ask-card-grey">
                <div class="card-body card-body-class">
                  <h5 class="card-title font-weight-bold">Need Support?</h5>
                  <p class="card-text">Can't find the answer you're looking for? Don't worry we're here to help!</p>
                  <a href="mailto:care@experizer.com"  class="btn contact-button">Contact Support</a>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>