<div class="row margin-R-0">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dashboard-header padding-R-0">
    <div class="row margin-R-0">
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
      <div class="fix-side-bar header-zindex my-4 ">
        <img src="assets/images/login/experizerlogo_white.png" alt="" class="logo-img image-margin-left" title="">   
    </div>
    </div>
    <div class=" col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 padding-R-0">
       <div class="text-center  my-4">
       <!-- <form class="form-inline justify-content-center mt-3">
           <input class="form-control form-control  w-50 search-height " type="text" placeholder="Search" aria-label="Search" autocomplete="off" [(ngModel)]="searchWordInput" name="searchWordInput">
           <i class="fa fa-search ml-3 search-icon" aria-hidden="true" (click)="findWord()"></i>
      </form> -->
      </div>
      </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  padding-R-0">       
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/needhelp">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">FAQ's</li>
            </ol>
          </nav>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="container mb-5 mt-5">
      <div class="row">
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9  padding-R-0">
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <img src="assets/images/needhelp/faq.png" alt="" class="logo-img mr-4 img-width" title=""> 
        </div>
       <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11"> <label class="help-class">FAQ's</label><br>
        <p class="card-text">How to manage your account and its features.</p></div>
      </div>
          <hr>
          <div class="row mb-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
             <div class="card main-card-border">
                <div class="card-body row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <h5 class="card-title font-weight-bold">Do I need any technical knowledge to use Experizer?</h5>
                   <p class="card-text">Absolutely not! Anybody who is familiar with using a document editor can use Experizer and create highly interactive and immersive VR experiences within a matter of few minutes.</p>
                 </div>
                </div>
              </div>
             </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card main-card-border">
                    <div class="card-body row">
                     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <h5 class="card-title font-weight-bold">How can I make the VR experiences available to my Patrons?</h5>
                       <p class="card-text">Patrons can access your VR experiences either by </p>
                       <ul style="list-style-type:none">
                          <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Either directly browsing the link you can share with them on their Mobile or Desktop browsers</li>
                          <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Downloading the Experizer app on their device(if supported)</li>
                        </ul> 
                     </div>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card main-card-border">
                   <div class="card-body row">
                     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                     <h5 class="card-title font-weight-bold">Will my Patrons need specific app/ VR goggles to view the VR experiences?</h5>
                      <p class="card-text">Thought for best experience we recommend using VR goggle’s however your Patrons can also browse the VR experience directly using their Mobile/Desktop browsers.</p>
                    </div>
                   </div>
                 </div>
                </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card main-card-border">
                       <div class="card-body row">
                         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                         <h5 class="card-title font-weight-bold"> Can I try it before I decide to subscribe for it?</h5>
                          <p class="card-text">Of course. Just sign up for a 14-day fully-functional trial here.</p>
                        </div>
                       </div>
                     </div>
                    </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card main-card-border">
                           <div class="card-body row">
                             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                             <h5 class="card-title font-weight-bold"> What are the restrictions of the trial version?</h5>
                              <p class="card-text">The trial is a fully-functional trial. You can try all the features of the product. There are some restrictions on the available storage space and number of views. </p>
                            </div>
                           </div>
                         </div>
                        </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card main-card-border">
                               <div class="card-body row">
                                 <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                 <h5 class="card-title font-weight-bold"> Do I need any specific machine configuration to use Experizer?</h5>
                                  <p class="card-text">Nothing specific – Experizer works on all the standard WIndows, Linux and Mac machines.</p>
                                </div>
                               </div>
                             </div>
                            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="card main-card-border">
                                   <div class="card-body row">
                                     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                     <h5 class="card-title font-weight-bold">Will the VR experiences I create work even after my subscription is over?</h5>
                                      <p class="card-text">Not really. To keep the VR experiences working, it requires an active subscription.</p>
                                    </div>
                                   </div>
                                 </div>
                                </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card main-card-border">
                                       <div class="card-body row">
                                         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                         <h5 class="card-title font-weight-bold">Do you provide training for creating the experiences?</h5>
                                          <p class="card-text">Well, the product has been designed in a way that ensures you don’t require training anytime. There are resources available on the website that can help you self-explore the product. And of course, if you have any questions, we are always just an email away!</p>
                                        </div>
                                       </div>
                                     </div>
                                    </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="card main-card-border">
                                           <div class="card-body row">
                                             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                             <h5 class="card-title font-weight-bold">What if I would like to have a training workshop for my team? </h5>
                                              <p class="card-text">No worries. Get in touch with us at <a href="mailto:care@experizer.com">care@experizer.com</a> and we will work out the details for you</p>
                                            </div>
                                           </div>
                                         </div>
                                        </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="card main-card-border">
                                               <div class="card-body row">
                                                 <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                 <h5 class="card-title font-weight-bold">I need to create a very specific experience and I am unable to find that in the library. How do I create it? </h5>
                                                  <p class="card-text">Our professional services team will be happy to custom develop the experience for you. For more details, get in touch with us at <a href="mailto:care@experizer.com">care@experizer.com</a></p>
                                                </div>
                                               </div>
                                             </div>
                                            </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="card main-card-border">
                                                   <div class="card-body row">
                                                     <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                     <h5 class="card-title font-weight-bold"> I have some support-related questions. Is there an email address I can reach you at?  </h5>
                                                      <p class="card-text">Sure, get in touch with us at care@experizer.com</p>
                                                    </div>
                                                   </div>
                                                 </div>
                                                </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="card main-card-border">
                                                       <div class="card-body row">
                                                         <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                         <h5 class="card-title font-weight-bold"> Can I create experiences on iPad</h5>
                                                          <p class="card-text">No. We don’t support experience creation on iPad at this moment.</p>
                                                        </div>
                                                       </div>
                                                     </div>
                                                    </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <div class="card main-card-border">
                                                           <div class="card-body row">
                                                             <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                             <h5 class="card-title font-weight-bold">What kind of usage-related reports does Experizer offer?</h5>
                                                              <p class="card-text">You can get multiple reports based on your Patron and Published Experience usage such as</p>
                                                              <ul style="list-style-type:none">
                                                                  <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Who has viewed which experience and for how many times</li>
                                                                  <li><i class="fa fa-check icon-check" aria-hidden="true"></i> Which parts of the experience is viewed</li>
                                                                  <li><i class="fa fa-check icon-check" aria-hidden="true"></i> How much time the viewers have spent on the experience.</li>
                                                                </ul> 
                                                            </div>
                                                           </div>
                                                         </div>
                                                        </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card main-card-border">
                   <div class="card-body row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="card-title font-weight-bold"> How are the “Views” calculated?</h5>
                           <p class="card-text">Experizer considers a view when a viewer views the experience by clicking on the Experience Start button</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card main-card-border">
                   <div class="card-body row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="card-title font-weight-bold">Do you offer Enterprise license? Is there a special cost? </h5>
                           <p class="card-text">Yes – please connect with us at <a href="mailto:care@experizer.com">care@experizer.com</a></p>
                      </div>
                    </div>
                </div>
            </div>  
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card main-card-border">
                   <div class="card-body row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="card-title font-weight-bold">Is there any Edu / Gov discount?</h5>
                           <p class="card-text">Yes, we offer 20% discount for Edu/Gov - The annual Subscription will be US$1990 and monthly US$ 199</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card main-card-border">
                   <div class="card-body row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="card-title font-weight-bold"> I am on a monthly plan currently. How can I switch to an annual plan?</h5>
                           <p class="card-text">The annual plan can start as soon the current monthly plan ends; please write to us at <a href="mailto:care@experizer.com">care@experizer.com</a> and we can help convert the monthly plan to an annual one.</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card main-card-border">
                   <div class="card-body row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="card-title font-weight-bold"> My subscription has ended. Will I lose all my data?</h5>
                           <p class="card-text">Don’t worry, we retain your data for 15 days from the end of subscription date.</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card main-card-border">
                   <div class="card-body row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h5 class="card-title font-weight-bold"> What are the terms of subscription? </h5>
                           <p class="card-text">Check out our Terms and Conditions for subscription  <a routerLink="/term"> here</a>.</p>
                      </div>
                    </div>
                </div>
            </div>
          </div> 
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3  padding-R-0">
      
      <div class="row mb-3 ">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="card help-ask-card-grey">
                <div class="card-body card-body-class">
                  <h5 class="card-title font-weight-bold">Need Support?</h5>
                  <p class="card-text">Can't find the answer you're looking for? Don't worry we're here to help!</p>
                  <a href="mailto:care@experizer.com"  class="btn contact-button">Contact Support</a>
                </div>
              </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>